version: '3.9'
services:
  debian_vm1:
    image: debian-systemd:latest
    container_name: debian_vm1
    privileged: true
    cgroup: host
    entrypoint: ["/lib/systemd/systemd"]
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    tmpfs:
      - /run
      - /tmp
    networks:
      vmnet:
        ipv4_address: 10.5.0.11
  debian_vm2:
    image: debian-systemd:latest
    container_name: debian_vm2
    privileged: true
    cgroup: host
    entrypoint: ["/lib/systemd/systemd"]
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    tmpfs:
      - /run
      - /tmp
    networks:
      vmnet:
        ipv4_address: 10.5.0.12
networks:
  vmnet:
    driver: bridge
    ipam:
      config:
        - subnet: 10.5.0.0/16
          gateway: 10.5.0.1
